body{
  font-family: "Montserrat";
}
#title{
  background-color: #7AA874;
  color: #fff;
}
.container-fluid{
  padding: 3% 15% 7%;
}
h1{
  font-family: 'Work Sans', sans-serif;
 line-height: 1.5;
 font-size: 3.5rem;
 
}
h2{
  font-family: 'Montserrat', sans-serif;
 line-height: 1.5;
 font-size: 3rem;
}

h3{
  font-family: 'Montserrat';
  font-weight: bold;
  
}

p{
  color: #40513B;
  font-size: 1.2rem;
}

/*************nav bar*****/

.brand-logo{
  margin-right: 5px;
}
.navbar{
  padding:0 0 4.5rem;
}

.navbar-brand{
  font-family:"ubuntu" ;
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.5rem;
  font-family: "Montserrat-light";
}


/***********buttons***********/
.download-button{
  margin: 5% 3% 5% 0;
}
.title-img{
  width:19%;
  transform:rotate(25deg);
left: 59%;
  position: absolute;
}

/****features section***/

#features{
padding: 7% 15%;
background-color: #C7E9B0;
position: relative;

}

.feature-box{
  text-align: center;
  padding: 5%;
}

.icon{
  margin-bottom: 1.5rem;
  color:#2e511f;
}

.icon:hover {
  color:#B3C99C;
}

#testimonials{
  background-color: #609966;
  text-align: center;
  color: #fff;
 
}
.testimonial-img{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
#press{
  background-color: #609966;
  padding-bottom: 3%;
  text-align: center;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 15px;
}
.carousel-item{
  padding: 7% 15%;
 
}

#pricing{
  padding: 100px;
  text-align: center;
  background-color: #D2D79F;
}
.col{
  padding: 3% 2%;
}
@media (max-width:1028px){
  #title{
    text-align: center;
  }
  .title-img{
    position: static;
    transform: rotate(0);
    width: 60%;
  }
    .nav-item{
    text-align: right;
  }
  .nav-link{
    color: #000;
  }
}

#cta{
  background-color: #90B77D;
  padding: 7% 15%;
  text-align: center;
}
.cta-text{
  font-size: 4rem;
 font-family: 'Pacifico', cursive;
  color: #fff;
}

#footer{
  background-color: #42855B;
  text-align: center;
  padding: 7% 15%;
  
}
.footer-text{
  color: #fff;
  line-height: 1%;
}

.social-icon{
  margin: 50px 20px;
  color: #000;
}
.social-icon:hover{
  color: #fff;
}
